{{set . "title" "New"}}
{{template "head.html" .}}
{{template "global-navigation.html" .}}

<div class="container">
  <div class="page-header">
    <h1>New Pin</h1>
  </div>

  <form role="form" method="post">
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" name="inputTitle" class="form-control" id="inputTitle" placeholder="title">
    </div>
    <div class="form-group">
      <label for="inputMemo">Memo</label>
      <textarea name="inputMemo" id="inputMemo" class="form-control" rows="3" placeholder="memo"></textarea>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </div>
  </form>

</div><!-- /container -->

<div class="container">
  {{template "flash.html" .}}
</div>

{{template "footer.html" .}}
