{{set . "title" "New"}}
{{template "head.html" .}}
{{template "global-navigation.html" .}}

<div class="container">
  <div class="page-header">
    <h1>New Pin</h1>
  </div>

  <form role="form" method="post" action="/pins/post" enctype="multipart/form-data">
    <div class="form-group{{if .errors.inputTitle}} has-error{{end}}">
      <label class="control-label" for="inputTitle">Title</label>
      <input type="text" name="inputTitle" class="form-control" id="inputTitle" placeholder="title" value="{{.flash.inputTitle}}">
    </div>
    <div class="form-group{{if .errors.inputMemo}} has-error{{end}}">
      <label class="control-label" for="inputMemo">Memo</label>
      <textarea name="inputMemo" id="inputMemo" class="form-control" rows="3" placeholder="memo">{{.flash.inputMemo}}</textarea>
    </div>
    <div class="form-group{{if .errors.upImage}} has-error{{end}}">
      <label class="control-label" for="upImage">Image</label>
      <input type="file" name="upImage" id="upImage" accept="image/jpeg">
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </div>
  </form>

</div><!-- /container -->

{{template "footer.html" .}}
