{{set . "title" "."}}
{{template "head.html" .}}
{{template "global-navigation.html" .}}

<div class="container">
  <div class="page-header">
    <h1>{{.pin.Title}}</h1>
  </div>

  <figure class="thumbnail">
    <img data-src="holder.js/640x480"{{if eq .pin.Image ""}} src="http://dummyimage.com/640x480/f7f8f9/789"{{else}} src="/public/uploads/{{.pin.Image}}"{{end}} alt="{{.pin.Title}}">
    <figcaption class="caption">
      <p>{{.pin.Memo}}</p>
    </figcaption>
  </figure>

</div><!-- /container -->

<div class="container">
  {{template "flash.html" .}}
</div>

{{template "footer.html" .}}
