{{set . "title" "Index"}}
{{template "head.html" .}}
{{template "global-navigation.html" .}}

<div class="container">
  <div class="page-header">
    <h1>Pin <small>Subtext for header</small></h1>

    <div class="row">

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img data-src="holder.js/300x300" src="https://raw.githubusercontent.com/ahya/assets/master/resize/matsudo_tonikaku_aburasoba.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="text-right"><a href="#" class="btn btn-primary" role="button">pin</a></p>
          </div>
        </div>
      </div>

    </div><!-- /row -->

  </div>
</div><!-- /container -->

<div class="container">
  {{template "flash.html" .}}
</div>

{{template "footer.html" .}}
